.App {
  text-align: center;
}

header{
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttons_left{
  display: flex;
}

.buttons_left div{
  width: 50%;
}

header section{
  width: 50vw;
}
