.App {
  text-align: center;
}

header{
    display: flex;
    align-items: center;
    justify-content: center;
}


.img_test{
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.buttons_left{
  display: flex;
}

.buttons_left div{
  width: 50%;
}

.buttons_right{
  display: flex;
}

.buttons_right div{
  width: 50%;
}

header section{
  width: 50vw;
}
